# .gitignore file for LoadRunner scripts ignores
# Unnecessary files added as a standard VuGen script template:
Breakpoints.xml
*.sdf
ReplaySummaryReport.xml
ThumbnailsCache.tmp
UserTasks.xml
 
# Files created during compilation:
combined_*.c
CompilerLogMetadata.xml
*.c.pickle
*.ci
logfile.log
mdrv_cmd.txt
options.txt
pre_cci.c
 
# Files needed for recording snapshots and script regeneration (optional)
# Note: may have a problem if there are any other version controlled folders 
# called "data"
# data/
 
# Files created during script replay (definitely don't need these)
result[1234567890]*/
mdrv.log
output.txt
*.bak
