# .gitignore standard file for LoadRunner scripts ignores:

# Unnecessary files added as a standard VuGen script template:
*.sdf
ReplaySummaryReport.xml
ScriptUploadMetadata.xml
ThumbnailsCache.tmp
UserTasks.xml


# Files created during recording:
# Data folder contains recording snapshots and script regeneration (optional)
# Note: may have a problem if there are any other version controlled folders 
# called "data"
# data/

# lrw_custom_body.h

# Files created during compilation:
combined_*.c
CompilerLogMetadata.xml
*.c.pickle
*.ci
logfile.log
mdrv_cmd.txt
options.txt
pre_cci.c

# Files created during editing in VuGen:
Breakpoints.xml
Bookmarks.xml
*.bak


# Files created during script replay (definitely don't need these)
*.idx
result[1234567890]*/
mdrv.log
TransactionsData.db
*.har
*.shunra

# output.txt - keep to show it working on local VuGen.


# On macs only:
.DS_Store

