# .gitignore file for LoadRunner scripts ignores
# Unnecessary files added as a standard VuGen script template:
*.sdf
ReplaySummaryReport.xml
ThumbnailsCache.tmp
UserTasks.xml
ScriptUploadMetadata.xml
 
# Files created during editing (leave commented during testing):
# Breakpoints.xml
# Watches.xml
# Bookmarks.xml
*.prm.bak

# Files created during compilation:
combined_*.c
CompilerLogMetadata.xml
*.c.pickle
*.ci
logfile.log
mdrv_cmd.txt
options.txt
pre_cci.c
*.idx
 
# Files needed for recording snapshots and script regen:
# Note: may have a problem if there are any other folders 
#       version controlled called "data":
# data/
 
# Files created during script replay:
result[1234567890]*/
mdrv.log
output.bak
# output.txt - keep this log to verify it worked in VuGen.
